@tailwind base;
@tailwind components;
@tailwind utilities;  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0F0E0E;
    font-size: 14px;
}


/* JotiOne */

@font-face {
    font-family: "Logo";
    src: url('/fonts/JotiOne/JotiOneRegular.ttf');
}

/* Montserrat */

@font-face {
    font-family: "MontserratRegular";
    src: url('/fonts/Montserrat/MontserratRegular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "MontserratMedium";
    src: url('/fonts/Montserrat/MontserratMedium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url('/fonts/Montserrat/MontserratSemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "MontserratBold";
    src: url('/fonts/Montserrat/MontserratBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "MontserratBlack";
    src: url('/fonts/Montserrat/MontserratBlack.ttf');
    font-weight: 900;
}



/* Roboto */
@font-face {
    font-family: "robotoRegular";
    src: url('/fonts/Roboto/RobotoRegular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "robotoMedium";
    src: url('/fonts/Roboto/RobotoMedium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "robotoBlack";
    src: url('/fonts/Roboto/RobotoBlack.ttf');
    font-weight: 900;
}




.loader {
    border: 4px solid #ffffff; 
    border-top: 4px solid #000000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.account_loader{
    border: 10px solid #ffffff; 
    border-top: 10px solid #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}