@tailwind base;
@tailwind components;
@tailwind utilities;  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0F0E0E;
    font-size: 14px;
}


@font-face {
    font-family: "Logo";
    src: url('/fonts/JotiOne/JotiOneRegular.ttf');
}

@font-face {
    font-family: "MontserratRegular";
    src: url('/fonts/Montserrat/MontserratRegular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "MontserratBlack";
    src: url('/fonts/Montserrat/MontserratBlack.ttf');
    font-weight: 900;
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url('/fonts/Montserrat/MontserratSemiBold.ttf');
    font-weight: 800;
}


@font-face {
    font-family: "robotoBlack";
    src: url('/fonts/Roboto/RobotoBlack.ttf');
    font-weight: 900;
}


@font-face {
    font-family: "robotoMedium";
    src: url('/fonts/Roboto/RobotoMedium.ttf');
}

@font-face {
    font-family: "robotoRegular";
    src: url('/fonts/Roboto/RobotoRegular.ttf');
}
